/* defaults */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
   
}
/* defaults ends */
/* Header */
.nav{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    width: 100%;
    height: 50px;
}
.mogo{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    
}
.mogo>ul>li{
    display: inline;
    padding: 10px;
    font-size: 20px;
   
}
.button:hover {
    color:#000!important;
    background-color:#ccc!important;
  
}
.button {
    padding: 8px 16px;
}
.logo {
    margin-left: 16px;
}
/* Header ends */

/* body */

#boddy {
    display: flex;
    justify-content: space-evenly;

}
.left {
    display: flex;
    align-items: flex-start;
    width: 20%;
    height: 1000px;
    border: solid 2px black;
    border-radius: 6px;
    background-image: url("img_girl.jpg");
    overflow: hidden;
    
}
.main {
    width: 58%;
    height: 1000px;
    border: #000 solid 2px;
    border-radius: 6px;

}
.right {
    width: 20%;
    height: 1000px;
    border: #000 solid 2px;
    border-radius: 6px;
}
#sidebar {
     width: 270px;
     height: 1000px;  
    position: absolute;
    top: 50;
    left: -100%;
    background-color: blue;
    display: flex;
    margin-left: 5px;
    
    justify-content: space-between;
    
    align-items: flex-start;
    transition: all 0.5s ease-in-out; 
    

}
 i {
    
    color: antiquewhite;
    background-color: black;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
}


#sidebar.open {

    left: 0;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}
 
#sidebar>#sidebaritems>ul>li {
    display: block;
}
#sidebaritems {
    display: flex;
}




#sideberitems ul {
    list-style-type: none;
    margin-top: 40px;
}
#sideberitems ul li {
    display: block;
    padding: 10px;
    font-size: 30px;
    
}